<div class='pure-u-1 center'>
  <div class='column center'>
    <% @users.each do |user| %>
      <%= link_to user&.email, user_path(user), class: 'pure-link margin-vertical-1' %>
    <% end %>
  </div>
</div>
