/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*******************************************/
/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
  color: #526066;
}

h2,
h3 {
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  line-height: 1.6em;
}

/*
 * -- Layout Styles --
 */
.l-content {
  margin: 0 auto;
}

.l-box {
  padding: 0.5em 2em;
}

/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
.pure-menu {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.pure-menu-link {
  padding: 0.5em 0.7em;
}

/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

.banner {
  background: transparent
    url('http://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg')
    0 0 no-repeat fixed;
  text-align: center;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg', sizingMethod='scale');

  height: 200px;
  width: 100%;
  margin-bottom: 3em;
  display: table;
}

.banner-head {
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 2em;
  color: white;
  font-weight: 500;
  text-shadow: 0 1px 1px black;
}

/*
 * -- PRICING TABLE WRAPPER --
 * This element wraps up all the pricing table elements
 */
.pricing-tables,
.information {
  max-width: 980px;
  margin: 0 auto;
}
.pricing-tables {
  margin-bottom: 3.125em;
  text-align: center;
}

/*
 * -- PRICING TABLE  --
 * Every pricing table has the .pricing-table class
 */
.pricing-table {
  border: 1px solid #ddd;
  margin: 0 0.5em 2em;
  padding: 0 0 3em;
}

/*
 * -- PRICING TABLE HEADER COLORS --
 * Choose a different color based on the type of pricing table.
 */
.pricing-table-free .pricing-table-header {
  background: #519251;
}

.pricing-table-biz .pricing-table-header {
  background: #2c4985;
}

/*
 * -- PRICING TABLE HEADER --
 * By default, a header is black/white, and has some styles for its <h2> name.
 */
.pricing-table-header {
  background: #111;
  color: #fff;
}
.pricing-table-header h2 {
  margin: 0;
  padding-top: 2em;
  font-size: 1em;
  font-weight: normal;
}

/*
 * -- PRICING TABLE PRICE --
 * Styles for the price and the corresponding <span>per month</span>
 */
.pricing-table-price {
  font-size: 6em;
  margin: 0.2em 0 0;
  font-weight: 100;
}
.pricing-table-price span {
  display: block;
  text-transform: uppercase;
  font-size: 0.2em;
  padding-bottom: 2em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  *color: #fff;
}

/*
 * -- PRICING TABLE LIST --
 * Each pricing table has a <ul> which is denoted by the .pricing-table-list class
 */
.pricing-table-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

/*
 * -- PRICING TABLE LIST ELEMENTS --
 * Styles for the individual list elements within each pricing table
 */
.pricing-table-list li {
  padding: 0.8em 0;
  background: #f7f7f7;
  border-bottom: 1px solid #e7e7e7;
}

/*
 * -- PRICING TABLE BUTTON --
 * Styles for the "Choose" button at the bottom of a pricing table.
 * This inherits from Pure Button.
 */
.button-choose {
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
  border-radius: 2em;
  font-weight: bold;
  position: relative;
  bottom: -1.5em;
}

.information-head {
  color: black;
  font-weight: 500;
}

.footer {
  background: #111;
  color: #888;
  text-align: center;
}
.footer a {
  color: #ddd;
}

/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */
@media (min-width: 767px) {
  .banner-head {
    font-size: 4em;
  }
  .pricing-table {
    margin-bottom: 0;
  }
}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (min-width: 480px) {
  .banner {
    height: 400px;
  }
  .banner-head {
    font-size: 3em;
  }
}

/***********************************/
body {
  background-color: #ddd;
}

.product-card {
  max-width: fit-content;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  .product-title {
    text-transform: uppercase;
    letter-spacing: 0.125em;
    font-weight: 400;
    margin: auto;
    padding: 0px;
    margin-bottom: 0.333em;
  }
  .product-image-container {
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    .product-image {
      object-fit: cover;
      object-position: center center;
    }
  }
  div {
    text-align: center;
  }
  .product-description-container {
    text-align: center;
    white-space: pre-line;
    max-width: fit-content;
    word-break: normal;
    margin: auto;
  }
  p {
    vertical-align: top;
  }
  .cart-button {
    width: 100%;
  }
}

.edit-links {
  display: flex;
  flex-direction: column;
}

.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(70, 112, 128);
}

.button-cart {
  display: flex !important;
  align-items: center !important;
  gap: 8px;
  height: 32px;
  svg {
    height: 16px;
    width: 16px;
  }
  span {
    font-size: smaller;
  }
}

.center {
  text-align: center;
  margin: auto;
}

.padding-1 {
  padding: 1em;
}

.background-white {
  background-color: rgba(255, 255, 255, 0.33);
}

.corner-rounded {
  border-radius: 4px;
}

.margin-1 {
  margin: 1em;
}

a {
  color: rgb(70, 112, 128);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.pure-menu-link {
  &:hover {
    text-decoration: none;
  }
}

.pure-button {
  &:hover {
    text-decoration: none;
  }
}

.form-container {
  max-width: fit-content;
  margin: auto;
  form {
    margin: auto;
    input,
    select,
    button {
      margin: auto;
      min-width: 24em;
    }
  }
}

.pure-menu-link {
  border-radius: 2px;
}

.margin-0 {
  margin: 0px;
}

.center-children {
  * {
    align-self: center;
    justify-self: center;
    text-align: center;
  }
}

.fit-content {
  width: fit-content;
  height: fit-content;
  max-width: fit-content;
  max-height: fit-content;
}

.padding-2 {
  padding: 2em;
}

.margin-vertical-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.form-container {
  padding: 1em;
  border-radius: 4px;
  text-align: left;
}

.edit-links {
  max-width: fit-content;
  margin: auto;
  a {
    margin-top: 1em;
  }
}

html {
  max-width: 100vw;
  body {
    max-width: 100%;
    margin: auto;
    .content {
      max-width: 96%;
      margin: auto;
      padding: 0px;
    }
  }
}

.shadow {
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.025);
}

.slick-arrow {
  background-color: rgba(255, 255, 255, 0.33);
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.025);
  transform: scale(2) !important;
  object-fit: cover;
}

@media (max-width: 1440px) {
  .slick-arrow,
  .slick-arrow * {
    display: none !important;
  }
  .content {
    max-width: 100%;
  }
}

.uppercase {
  letter-spacing: 0.125em;
  font-weight: 400;
}

.column {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}

.lowercase {
  text-transform: lowercase;
}

.expand-left {
  margin-left: 0px;
  margin-right: auto;
}

.expand-right {
  margin-left: auto;
  margin-right: 0px;
}

.capitalize {
  text-transform: capitalize;
}

.margin-bottom-1 {
  margin-bottom: 1em;
}

.margin-bottom-2 {
  margin-bottom: 2em;
}

.product-card.full-size {
  h1 {
    font-size: 1.75em !important;
  }

  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  line-break: auto;
  .product-image-container.full-size {
    height: 66vh;
    .product-image {
      width: auto;
      height: 100%;
      margin: auto;
    }
  }
}

.tiny-text {
  text-transform: lowercase;
  font-size: 0.75em;
  margin: 0px;
  padding: 0px;
}

.site-title {
  color: rgb(70, 112, 128);
}

.margin-auto {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
}

.text-align-right {
  text-align: right;
}

.horizontal-padding-1 {
  padding-left: 1em;
  padding-right: 1em;
}

.html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

element {
  max-width: 100vw;
  overflow-x: hidden;
}

.padding-0 {
  padding: 0px;
}

.subheading {
  margin-top: 1em;
}

.display-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 1em;
  .product-card {
    margin: auto;
    .product-image-container {
      overflow: hidden;
      .product-image {
        object-fit: cover;
        object-position: center center;
        min-width: 540px;
        max-height: 360px;
      }
    }
  }
}

.button-unstyle {
  border: none;
  border-radius: 2px;
  background-color: inherit;
  margin: 0px;
  &:hover {
    cursor: pointer;
  }
}

button,
a {
  &:focus {
    outline-color: rgb(70, 112, 128);
    outline-width: 1px;
    outline-offset: 0px;
  }
}

.slick-track {
  margin-top: 1em;
  margin-bottom: 1em;
  .slick-slide {
    margin-bottom: 0px;
    div {
      margin-left: auto;
      margin-right: auto;
      padding-left: 1em;
      padding-right: 1em;
      .product-card {
        .product-image-container {
          .product-image {
            width: 100%;
            height: 33vh;
          }
        }
      }
    }
  }
}

.pure-button {
  background-color: rgb(70, 112, 128) !important;
  color: whitesmoke !important;
  border-radius: 4px;
}

.pure-menu-link {
  border-radius: 4px;
}

.pure-link {
  border-radius: 4px;
}

#title-container,
#links-container {
  min-width: 188px;
  width: fit-content;
  max-width: 100%;
}

#title-container {

}

#links-container {
}

.pure-g {
  letter-spacing: normal !important;
}

#header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

html,
body,
#header {
  width: 100%;
  max-width: 100vw;
}

.white-space-nowrap {
  white-space: nowrap;
}

.display-flex {
  .product-card {
    .product-image-container {
      max-width: 85vw;
    }
  }
}

.margin-top-1 {
  margin-top: 1em;
}

.margin-top-2 {
  margin-top: 2em;
}
