<div class='pure-u-1 center'>
  <h1>New category</h1>
  <%= render partial: 'shared/errors', locals: {model: @category} %>
  <div class='form-container background-white'>
    <%= form_with model: @category, class: 'pure-form pure-form-stacked' do |f| %>
      <%= render partial: 'category_fields', locals: {form: f} %>
      <%= f.submit 'Create category' %>
    <% end %>
  </div>
</div>
