<%= javascript_pack_tag 'productCard' %>
<%= stylesheet_pack_tag 'productCard' %>
<div class='pure-u-1 center'>
  <div class='display-flex'>
    <% @products.each do |product| %>
      <%= react_component('ProductCard',
      full_size: false, 
      name: product.name, 
      id: product.id, 
      description: product.description, 
      price: product.price, 
      price_unit: product.price_unit, 
      url: category_product_url(product.category, product), 
      image: url_for(product.image), 
      thumbnail: url_for(product.image.variant(resize_to_limit: [480, 720]).processed), 
      thumbnail_large: url_for(product.image.variant(resize_to_limit: [1440, 2160]).processed), 
      dimensions_json: product.dimensions_json, 
      lightbox: false, 
      class_name: 'corner-rounded padding-1 margin-1 background-white' ) %>
      <% if admin_signed_in? %>
        <%= link_to 'Edit', edit_category_product_path(@category_id, product), class: 'pure-button margin-top-2' %>
      <% end %>
    <% end %>
  </div>
</div>
